<?xml version="1.0" encoding="UTF-8"?>
<settings

	nameText="Skipbit Labs"
	taglineText="   Making Games, and beyond."
	mainText="NEW SITE COMING SOON"

	useOwnLogo="true"
	logoFilePath="logo.png"

	nameColor="0xffffff"
	taglineColor="0xffffff"
	mainColor="0xffffff"
	linkColor="0xffffff"
	linkRollOverColor="0x148eed"
	linkRollOverBlurAmount="5"

	backgroundColor="0x000000"
	backgroundGradientColor1="0x148eed"
	backgroundGradientColor2="0x000000"
	backgroundGradientAlphaPercent="40"

	borderColor="0xffffff"
	borderThickness="10"

	ownLogoXOffset="3"
	taglineXOffset="2"
	taglineYOffset="-9"
	mainXOffset="-2"
	linkXOffset="2"

	introBlurAmount="20"
	siteRotation="0"

	>

	<link text="HELLO@SKIPBITLABS.COM" url="mailto:hello@skipbitlabs.com" />
	
</settings>